<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap 101 Template</title>


    <link href="~/Content/bootstrap.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h2>SkyLine</h2>
                <img src="~/Content/SkyLine.jpg" alt="SkyLine" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h2>Mystang</h2>
                <img src="~/Content/Mystang.jpg" alt="Mystang" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h2>Charger</h2>
                <img src="~/Content/Charger.jpg" alt="Charger" class="img-responsive">
            </div>
        </div>
    </div>
</body>
</html>